.cars{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cars-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 90px;
}
.cart-container{
    background-color: rgba(128, 128, 128, 0.25);
}
.cart-container h3, button{
    font-family: 'Lato';
    font-style: normal;
}