.cars{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cars-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 90px;
}
.cart-container{
    background-color: rgba(128, 128, 128, 0.25);;
}
.cart-container h3, button{
    font-family: 'Lato';
    font-style: normal;
}

@media only screen and (max-width: 576px){
    .cars{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }
    .cars-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 0;
    }
}