.car{
    width: 300px;
    height: 360px;
    position: relative;
}
.car img{
    width: 280px;
    margin: 10px 10px 8px 10px;
}
.car-info h3, h5{
    color: rgba(28, 43, 53, 1);
    font-family: 'Lato';
    font-style: normal;
    margin: 7px 10px;
}
.btn-text{
    position: absolute;
    bottom: 0;
    border-radius: 0 0 4px 4px;
    padding: 15px;
}